* {
    box-sizing: border-box;
}


body  {

}

header {

    background-color: #24053E;
}

h1 {
    font-family: "Fraunces", serif;
    font-size: 80px;   
    color: white;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    border-radius: 99px;
    border: 1px solid black;
    width: 56px;
    height: 56px;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 56px;
}

.link-nav {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration-color: #44FFA1; 
}

.link-nav:hover {
    color: #44FFA1;
}

.main-title {
    align-items: center;
    justify-content: center;
    width: 635px;
    margin: auto;
}

.main-title span {
    text-decoration:underline;
    text-decoration-color: #44FFA1 ;
}

.button {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    background-color: #44FFA1;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.picture-header {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 0 auto;
    position: ;
}


.top-section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    padding-top: 88px;
    padding-bottom: 88px;
}

.card {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title-paragraph-top {
    font-family: "Fraunces", serif;
    font-size: 32px;
    color: #24053E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph-top {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #24053E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-bottom-section {

}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 114px;
    color: white;
}

.card-bottom {
    background: #24053E;
    width: 720px;
    height: 411px;
    padding: 64px;
    

}

.title-bottom-section {
    font-family: "Fraunces", serif;
    font-size: 56px;
    color: white;
}

.paragraph-bottom-section {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

footer {
    margin-top: 112px;
    margin-bottom: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.svg-reseaux {
    padding-top: 56px;
}
